{% load i18n %}

<h1 class="text-3xl font-bold py-3 dark:text-white">{% trans 'A qual palavra pertence o(s) significado(s):' %} {{ meanings }}?</h1>
<div id="answer-info" class="hidden text-white text-lg font-bold px-8 max-w-fit rounded-lg py-1">
</div>
<div class="grid grid-cols-2 gap-5 pt-6">
    {% for id, word in choices.items %}
        <button _="on click call verifyMultiple({{ id }})"
                class="p-2 rounded-md bg-sky-600 text-center text-lg font-bold hover:bg-sky-200 cursor-pointer text-white answer-button">
            {{ word }}
        </button>
    {% endfor %}
</div>
<input type="hidden" name="right-answer" value="{{ right_answer }}">