{% load i18n %}

<div class="py-6">
    <h1 class="text-3xl font-bold">{% trans 'Definições da palavra ' %} "{{ word }}"</h1>
    <div onclick="document.getElementById('audio').play()" class="cursor-pointer text-xl pt-2 text-gray-700">
        <i class="bi bi-volume-up-fill pr-2"></i>
        {% trans 'Pronúncia' %}
    </div>
</div>
<audio id="audio" src="{{ word.audio_phonetic }}"></audio>
<div class="py-4 space-y-3">
    <h1 class="text-xl font-bold">{% trans 'Significados' %}</h1>
    <div class="text-lg">
        {{ word_meanings.get_meanings_list }}
    </div>
</div>
{% if word.synonyms %}
    <div class="py-4 space-y-3">
        <h1 class="text-xl font-bold">{% trans 'Sinônimos' %}</h1>
        <div class="text-lg">
            {{ word.get_synonyms_list }}
        </div>
    </div>
{% endif %}
{% if word_definitions %}
    <div class="py-4 space-y-3">
        <h1 class="text-xl font-bold">{% trans 'Morfologia' %}</h1>
        {% for word_definition in word_definitions %}
            <div class="py-3 space-y-1">
                <h1 class="text-lg font-bold">{{ word_definition.pos_tag|capfirst }}</h1>
                <div>
                    {{ word_definition.definition }}
                </div>
                {% if word_definition.example %}
                    <div class="py-2 space-y-1">
                        <h1 class="text-lg font-bold"> {% trans 'Exemplos' %}</h1>
                        <div>
                            {{ word_definition.example }}
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

{% endif %}

{#{% for word_definition in definitions %}#}
{#    <div>{{ word_definition.pos_tag }}</div>#}
{#    <div>{{ word_definition.definition }}</div>#}
{#    <div>{{ word_definition.example }}</div>#}
{#{% endfor %}#}

{#{% for meaning in word_meanings.get_meanings_list %}#}
{#    <div>{{ meaning }}</div>#}
{#{% endfor %}#}