{% extends '_base.html' %}

{% load i18n static %}

{% block meta_tags %}

{% endblock %}

{% block title %}
    {% trans 'Cartões - ' %} {{ deck.name }}
{% endblock %}

{% block content %}
    <div class="p-10 min-h-full">
        <h1 class="text-3xl font-bold">{{ deck.name }}</h1>
        <div class="grid grid-cols-4 min-h-max">
            <div class="pt-12 pl-5">
                <ul class="text-lg font-semibold text-gray-700 space-y-4">
                    <li class="cursor-pointer hover:bg-gray-300 p-2 px-4 max-w-max">
                        <i class="bi bi-card-text pr-4"></i>{% trans 'Cartões' %}
                    </li>
                    <li class="cursor-pointer hover:bg-gray-300 p-2 px-4 max-w-max">
                        <i class="bi bi-question-octagon-fill pr-4"></i>{% trans 'Questões' %}
                    </li>
                    <li class="cursor-pointer hover:bg-gray-300 p-2 px-4 max-w-max">
                        <i class="bi bi-pencil-fill pr-4"></i>{% trans 'Escrever' %}
                    </li>
                    <li class="cursor-pointer hover:bg-gray-300 p-2 px-4 max-w-max">
                        <i class="bi bi-info-circle-fill pr-4"></i>{% trans 'Informações' %}
                    </li>
                    <li class="cursor-pointer hover:bg-gray-300 p-2 px-4 max-w-max">
                        <i class="bi bi-plus pr-4"></i>{% trans 'Adicionar' %}
                    </li>
                </ul>
            </div>
            <div class="col-span-3">
                <div class="relative flex flex-col card-shadow rounded-xl" style="max-width: 80%; min-height: 60vh;">
                    <div class="absolute right-0 text-gray-700 p-5 text-xl cursor-pointer"
                         data-modal-toggle="delete-flashcard">
                        <i class="bi bi-trash3-fill pr-2"></i>
                        {% trans 'Apagar' %}
                    </div>
                    <div id="flashcard" class="flex flex-col grow">
                        {% include 'includes/card/flashcard/front.html' %}
                    </div>
                </div>
                <input id="current-card" type="hidden" value="1">
                <input id="current-side" type="hidden" value="front">
            </div>
        </div>
    </div>
    <div id="delete-flashcard" tabindex="-1" aria-hidden="true"
         class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
        <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <div class="flex justify-between items-start p-4 rounded-t border-b dark:border-gray-600">
                    <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                        Confirmação
                    </h3>
                    <button type="button"
                            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                            data-modal-toggle="delete-flashcard">
                        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                  clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
                <div class="p-6 space-y-6">
                    <div class="text-lg">
                        Você tem certeza que deseja excluir esse cartão?
                    </div>
                    <div class="flex space-x-6">
                        <button data-modal-toggle="delete-flashcard" type="button"
                                class="p-2 bg-yellow-400 rounded-lg text-white">
                            Cancelar
                        </button>
                        <button data-modal-toggle="delete-flashcard" type="button"
                                _="on click call deleteCard()"
                                class="p-2 bg-red-700 rounded-lg text-white">
                            Confirmar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        function updateCard() {
            let current_card = document.querySelector('#current-card').value

            htmx.ajax('GET', `/card/view/{{ deck.deck_type }}/${current_card}/{{ deck.id }}`, '#flashcard')
        }

        function turnCard() {
            let current_card = document.querySelector('#current-card').value
            let current_side = document.querySelector('#current-side').value

            htmx.ajax('GET', `/card/turn/${current_card}/{{ deck.id }}?side=${current_side}`, '#flashcard')
        }

        function deleteCard() {
            let current_card = document.querySelector('#current-card').value

            htmx.ajax('GET', `/card/remove/${current_card}/{{ deck.id }}`, '#flashcard')

            if (current_card > 1)
                document.querySelector('#current-card').value = current_card - 1
        }
    </script>
{% endblock %}