{% extends '_base.html' %}

{% load i18n static %}

{% block meta_tags %}

{% endblock %}

{% block title %}
    {% trans 'Cartões - ' %} {{ deck.name }}
{% endblock %}

{% block css %}
    <style>
        .load-indicator {
            display: none;
        }

        .htmx-request .load-indicator {
            display: inline;
        }

    </style>
{% endblock %}

{% block content %}
    <div class="p-10 min-h-full">
        <h1 class="text-3xl font-bold">{{ deck.name }}</h1>
        <div class="grid grid-cols-4 min-h-max">
            <div class="pt-12 pl-5">
                <ul class="text-lg font-semibold text-gray-700 space-y-4">
                    <li class="cursor-pointer hover:bg-gray-300 p-2 px-4 max-w-max"
                        hx-get="{% url 'card:view' 1 deck.id %}"
                        hx-target="#content">
                        <i class="bi bi-card-text pr-4"></i>{% trans 'Cartões' %}
                    </li>
                    <li class="cursor-pointer hover:bg-gray-300 p-2 px-4 max-w-max">
                        <i class="bi bi-question-octagon-fill pr-4"></i>{% trans 'Questões' %}
                    </li>
                    <li class="cursor-pointer hover:bg-gray-300 p-2 px-4 max-w-max">
                        <i class="bi bi-pencil-fill pr-4"></i>{% trans 'Escrever' %}
                    </li>
                    <li class="cursor-pointer hover:bg-gray-300 p-2 px-4 max-w-max">
                        <i class="bi bi-info-circle-fill pr-4"></i>{% trans 'Informações' %}
                    </li>
                    {% if request.user == deck.creator %}
                        <li class="cursor-pointer hover:bg-gray-300 p-2 px-4 max-w-max"
                            data-modal-toggle="create-flashcard">
                            <i class="bi bi-plus-lg pr-4"></i>{% trans 'Adicionar' %}
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div id="content" class="col-span-3">
            </div>
        </div>
    </div>
    <div id="spinner" class="hidden bg-gray-900 bg-opacity-50 dark:bg-opacity-80 fixed inset-0 z-40">
        <div class="relative" style="top: 40%; transform: translateY(-50%);">
            <svg class="w-32 h-32 text-gray-200 animate-spin dark:text-gray-600 fill-blue-400 absolute left-0 right-0 mx-auto"
                 viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                      fill="currentColor"></path>
                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                      fill="currentFill"></path>
            </svg>
        </div>
    </div>
    {% include 'includes/modal/delete_flashcard.html' %}
    {% include 'includes/modal/create_card.html' %}
{% endblock %}

{% block javascript %}
    <script>
        htmx.ajax('GET', '{% url "card:view" 1 deck.id %}', '#content')

        function load() {
            let load_element = document.querySelector('#load')
            let spinner_element = document.querySelector('#spinner')

            spinner_element.classList.remove('hidden')

            let interval = setInterval(() => {
                if (!load_element.classList.contains('htmx-request')) {
                    spinner_element.classList.add('hidden')
                    clearInterval(interval)
                }
            })
        }

        function changeCard() {
            let current_card = document.querySelector('#current-card').value

            htmx.ajax('GET', `/card/change/${current_card}/{{ deck.id }}`, '#flashcard')
        }

        function turnCard() {
            let current_card = document.querySelector('#current-card').value
            let current_side = document.querySelector('#current-side').value

            htmx.ajax('GET', `/card/turn/${current_card}/{{ deck.id }}?side=${current_side}`, '#flashcard')
        }

        function deleteCard() {
            close()

            let current_card = document.querySelector('#current-card').value

            htmx.ajax('GET', `/card/remove/${current_card}/{{ deck.id }}`, '#content')
        }

        function editCard() {
            let current_card = document.querySelector('#current-card').value
            let edit_element = document.querySelector('#edit-card')

            if (current_card === '0') return

            if (edit_element.classList.contains('edit')) {
                htmx.ajax('GET', `/card/edit/${current_card}/{{ deck.id }}`, '#flashcard')
                edit_element.innerHTML = '<i class="bi bi-x-lg pr-2"></i> {% trans "Fechar" %}'
            }
            if (edit_element.classList.contains('close')) {
                htmx.ajax('GET', `/card/change/${current_card}/{{ deck.id }}`, '#flashcard')
                edit_element.innerHTML = '<i class="bi bi-pencil-fill pr-2"></i> {% trans "Editar" %}'
            }
        }

        const delete_element = document.getElementById('delete-flashcard');
        const delete_modal = new Modal(delete_element);

        function open() {
            delete_modal.show()
        }

        function close() {
            delete_modal.hide()
        }
    </script>
{% endblock %}